.content {
  padding: $spacer*1.5 $spacer*2.25;
  min-height: calc(100% - 130px);
  background: #ededed;

  @include media-breakpoint-down(md) {
    width: 100vw;
    max-width:100vw;
  }
    @include media-breakpoint-up(md)
    {
        width: calc(100vw - #{$sidebar-width});
        max-width: calc(100vw - #{$sidebar-width});
    }

  @include media-breakpoint-down(lg) {
    padding: $spacer*1 $spacer*1.5;
  }
}

